{% extends "layout.html" %}
{% block body %}
<html>
   <body class="body">
			<div class="fixed-top">
				<div class="block1">
					<nav class="navbar navbar-expand-md navbar-dark bg-dark">
					  <a class="navbar-brand" href="#">tastyNLP</a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					  </button>

					  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
						<ul class="navbar-nav mr-auto">
						  <li class="nav-item active"></li>
						  <li class="nav-item active">
							<a class="nav-link" href="http://localhost:5000/classify" name="classify">classify</a>
						  </li>
						  
						  <li class="nav-item active"><a class="nav-link" href="http://localhost:5000/tastyNLP/Chicken" style="color:#80d4ff">chicken</a></li>
						  <li class="nav-item active"><a class="nav-link" href="http://localhost:5000/tastyNLP/Beef" style="color:#ff99ff">beef</a></li>
						  <li class="nav-item active"><a class="nav-link" href="http://localhost:5000/tastyNLP/Pork" style="color:#ffff66">pork</a></li>
						  <li class="nav-item active"><a class="nav-link" href="http://localhost:5000/tastyNLP/Seafood" style="color:#99b3ff">seafood</a></li>
						  <li class="nav-item active"><a class="nav-link" href="http://localhost:5000/tastyNLP/Vegetarian" style="color:#73e600">vegetarian</a></li>
						  <li class="nav-item active"><a class="nav-link" href="http://localhost:5000/tastyNLP/Sweet" style="color:#ff8080">bakes and treats</a></li>
				  
					  </div>
					</nav>
				</div >
				<div class="bg-white" style="border: 1px solid #999" >
					<br></br>
					<ul>
					<div >
						<form action = "http://localhost:5000/tastyNLP" method = "post" class="form-inline my-2 my-lg-0">
							<table class="bg-white" >
								<tr><h3>Recipe Search</h3></tr>
								<tr><input class="form-control mr-sm-2" type="text" placeholder="Search" name = "txtsearch" aria-label="Search"></tr>
								<tr><button class="btn btn-outline-success my-2 my-sm-0" "submit" value = "submit">Search</button></tr>
							</table>
						<br></br>
						<br></br>
						</div>
					</form>		
				</div>
			</div>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<div style="position:relative; margin-left:100px"><p>{{result|safe}}</p><div>
		
	</body>
</html>
		
{% endblock %}